<nz-layout>
    <nz-header class="d-flex">
      <a class="logo">
        <img src="../../assets/cwlogo.png" alt="" class="mr-1">
        <strong class="cw_title">CreditWallet</strong>
      </a>
      <div class="ml-auto d-flex flex-md-column justify-content-center align-items-md-end align-items-center">
        <p class="no-margin mr-1 line-height-1 text-right">
          Existing Customer?
        </p>
        <a href="https://accounts.creditwallet.ng" nz-button nzSize="small" class="ml-1" nzType="primary">
          Click Here
        </a>
      </div>
    </nz-header>
    <nz-content class="mt5 mb-3 container">
        <div class="nofound_wrapper">
            <span class="very-large-font text-pry">404</span>
            <span class="large-font">Page not found or has been moved</span>
            <a [routerLink]="['/']">Go home</a>
          </div>
    </nz-content>
  </nz-layout>
