/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@900&family=Sen:wght@700&display=swap');

.wrapper {
  max-width: 1800px;
  width: 100%;
  min-height: 100vh;
}

.step-indicators-wrapper{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

    .step-indicators{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: 100%;
        text-align: center;
        border: 1px solid;
        justify-content: center;
        border-radius: 100%;
        margin: 0 1rem
}

.current-step{
    transform: scale(1.2);
    border: 1px solid #f56b2a
}

.completed-step{
    background-color: #f56b2a;
    color: white;
}
}


.parent-grid {
  display: flex;
  flex-direction: column;
}

html,
body {
  font-family: 'Sen', sans-serif;
}

.ml-auto {
  margin-left: auto;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.steps-content {
//   background-color: #fafafa;
}

.mt-1 {
  margin-top: .5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 2.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: .5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 2.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.mb-7 {
  margin-bottom: 5rem;
}

.my-7 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: .5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 2rem;
}

.mr-4 {
  margin-right: 2.5rem;
}

.mr-5 {
  margin-right: 3rem;
}

.ml-1 {
  margin-left: .5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 2rem;
}

.ml-4 {
  margin-left: 2.5rem;
}

.ml-5 {
  margin-left: 3rem;
}

.float-left {
  float: left;
}

.text-pry {
  color: #f56b2a;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.card {
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 2rem;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.w-100 {
  width: 100%;
}

.font-bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.p-2 {
  padding: 1.5rem;
}

.line-height-1 {
  line-height: 1;
}

.no-margin {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.box-child-right {
  height: 100%;
  width: 100%;
}

.sticky-button-wrapper {
  position: sticky;
  bottom: 1rem;
}
.largefont{
    font-size: 250%;
}
@media screen and (max-width: 480px) {
  .flex-sm-column {
    flex-direction: column;
  }

  .mt-sm-2 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 767px) {
    .steps-content {
        padding: .1rem;
      }
  .no-m-md {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  .align-items-md-end {
    align-items: flex-end;
  }

  .flex-md-column {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
    .steps-content {
        padding: 1.5rem;
      }
  .container {
    width: 750px;
  }

  .ml-md-auto {
    margin-left: auto;
  }

  .parent-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 1rem;
  }

  .inner-content{
    overflow: auto;
    height: calc(75vh - 6rem);
    background-color: #fafafa;
  }
  .card-footer{
    position: absolute;
    width: 100%;
    bottom: 1rem;
    padding: 0 2rem;
  }

  .box-child-right {
    min-height: 75vh;
    max-height: 75vh;
    height: 100%;
    width: 100%;
    // max-width: 500px;
    overflow: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .w-md-75{
      width: 75%;
  }
  .wrapper {
    background-image: linear-gradient(135deg, #f2f2f2 70%, #f56b2a 45%);
  }

  .w-md-50 {
    width: 50%;
  }

  .parent-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 1rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
